@use "../../variables.scss" as *;

.main-menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        text-decoration: none;
        color: $secondary-text-color;

        &:hover {
          color: $hover-text-color;
        }
      }
    }
  }
}