@import 'variables';

html {
  color: $main-text-color;
  font-family: Open Sans, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  padding: 0;
  margin: 0;
}

footer {
  margin-top: 10%;
}